

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
 
 .container {
 display: flex;
 flex-direction: column;
 height: 100vh;
 padding: 20px;
 }
 
 /* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #00bcd4; 
}
::-webkit-scrollbar-thumb {
    background: #00bcd4; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00bcd4; 
}

 header {
font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
 text-align: center;
 padding: 15px 0;
 margin-bottom: 10px;
 color:#00bcd4; /* Cyan */
 }
 
 #button{
    color: white;
    text-align: center;
}
 
 .subtitle {
 font-size: 3px ;
 opacity: 0.9;
 max-width: 600px;
 margin: 0 auto;
 }
 
 .content {
 display: flex;
 flex: 1;
 gap: 20px;
 }
 
 #scene-container {
 flex: 1;
 border-radius: 10px;
 overflow: hidden;
 }
 
 .controls {
/*flex: 1;*/
background: #1e1e1e;
border-radius: 10px;
border: 1px solid #333;
padding: 15px;
overflow-y: auto; /* Scroll only the controls if needed */
width: 270px;
 }
 
 .control-group {
 margin-bottom: 25px;
 background: rgba(255, 255, 255, 0.03);
 padding: 10px;
 border-radius: 8px;
 border-left: 3px solid #00bcd4;

 }
 
 h2 {
 font-size: 10px;
 margin-bottom: 15px;
 text-align: center;
 }

 .slider-container{
 display: block;
 margin-bottom: 10px;
 color:white;
 }
 
 .value-display {
 display: inline-block;
 width: 50px;
 text-align: right;
 color: white;
 }
 
 input[type="range"] {
 width: 100%;
 height: 8px;
 border-radius: 4px;
 background: white;;
 outline: none;
 }
 
 input[type="range"]::-webkit-slider-thumb {

 width: 20px;
 height: 20px;
 border-radius: 50%;
 background: white;
 cursor: pointer;
 }


 button {
width: 100%;
padding: 12px;
background: #00bcd4;
color: #000;
border: none;
border-radius: 6px;
font-weight: bold;
cursor: pointer;
margin-top: 10px;
transition: filter 0.2s;
}
 

 

